/* beginning of normalizing */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ending of normalizing */

.content {
   grid-area: content;
}

.content__header {
    font-size: 35px;
}

.content__listheader {
    font-weight: normal;
    text-decoration-line: underline;
}

.content__orderedList {
    list-style-position: inside;
    padding: 0;
}

.content__subheader, .glossary__title {
    font-size: 20px;
}

.content__text {
    text-align: justify;
    line-height: 24px;
}

.content_unorderedList {
    list-style: none;
    padding: 0;
}

.data {}

.footer {
    grid-area: footer;
    margin-top: 32px;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.glossary {}

.glossary__content {
    line-height: 24px;
}

.glossary__description {
    margin-bottom: 24px;
    padding: 16px;
}

.glossary__title {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-column-gap: 16px;
    grid-template-areas: "header header header"
    "content . menu"
    "footer footer footer"; 
    grid-template-columns: [pierwsza] 4fr [druga] 50px [ostatnia] 200px;
}

.header {
    grid-area: header;
    text-align: center;
}

.indexBody {
    background: url('../img/background.jpg');
    /* rgb(255, 173, 224); */
    background-attachment: fixed;
    background-position: right top;
    background-repeat: repeat;
    background-size: contain;
    min-height: 100vh;
    padding: 16px 30px;
}

.indexHeaderColor, .glossary__title {
    color: rgb(103, 58, 183);
}

.jupiterBody {
    background: rgb(250, 141, 223);
    padding: 16px 30px;
}

.jupiterHeaderColor {
    color: rgb(5, 94, 49);
}

.link {
    text-decoration: none;
}

.main {
    margin: 32px;
    min-height: 100vh;
    width: 100%;
}

.main__header {
    font-size: 47px;
    margin: 32px auto;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

.marsBody {
    background: rgb(73,53,134);
    background: linear-gradient(355deg, rgba(73,53,134,1) 5%, rgba(245,51,83,1) 56%);
    padding: 16px 30px;
}

.marsHeaderColor {
    color: #493586;
}

.mercuryBody {
    background-color: #0056d7;
    background-image: linear-gradient(0deg, #0056d7 0%, #5d9bf8 46%);
    padding: 16px 30px;
}

.mercuryHeaderColor {
    color: rgb(1, 27, 173);
}

.moonBody {
    background: rgb(247,211,138);
    background: radial-gradient(circle, rgba(247,211,138,1) 9%, rgba(246,194,84,1) 70%);
    padding: 16px 30px;
}

.moonHeaderColor {
    color: #3e4980;
}

.navigation {  
    grid-area: menu;
}

.navigation__link {
    text-decoration: none;
}

.navigation__list {
    font-size: 20px;
    list-style: none;
    margin: 5px;
    padding: 0;
    position: fixed;  
}

.pictureHorizontal {
    float: left;
    height: 100%;
    margin: 0 15px 15px 0;
    max-height: 300px;
}

.pictureVertical {
    float: left;
    max-width: 200px;
    margin: 0 15px 15px 0;
    width: 100%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table__headrow {
    border: 1.5px solid black;
    border-color: rgb(62, 73, 128);
    padding: 5px;
}

.table__data {
    border: 1px solid black;
    border-color: rgb(62, 73, 128);
    padding: 5px;
}

.top {
    bottom: 45px;
    right: 50px;
}